body {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
.App header {
  color: #8ef6e4;
  font-weight: bold;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
